.container{
    margin: 5px;
    padding: 10px;
}
.radios div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.radios{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    border-radius: 10px;
    padding: 2px 5px;
    color: #ffffff;
}
.radios:nth-child(1){
    background-color: var(--secondary-color);
}
.radios:nth-child(2){
    background-color: var( --success-color);
}
.radios:nth-child(3){
    background-color: var( --first-color);
}
.radios:nth-child(4){
    background-color: var(--done-color);
}
.radios input{
    cursor: pointer;
}