.container header{
     width: 100%;
     background-color: var(--first-color);
     height: 90px;
     padding: 20px 5px;
     color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.container header p{
    font-family: "vazirmatn";
    font-size: 1.1rem;
    font-weight: 500;
}
.subContainer{
    display: flex;
    min-height: calc( 100vh - 90px);
}
.aside{
    background-color: #ffffff;
    position: relative;
    bottom: 25px;
    border-top-left-radius: 15px;
    padding: 5px;
    width: 220px;
}
.aside p{
    font-family: "vazirmatn";
    font-size: 1.1rem;
    font-weight: 500;
    margin: 8px ;
}
.aside li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    color: rgb(65, 65, 65);
    position: relative;
    transition: all 0.5s ease-in;
}
.aside li a {
    margin-right: 5px;
    font-size: 0.8rem;
}
.aside li::before{
    content: " ";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--first-color);
    bottom: -3px;
    left: 0;
    transition: all 0.5s ease-in;
    border-radius: 10px;
}
.aside li:hover::before{
    width: 100%;
}
.aside li:hover{
    color: var(--first-color);
    cursor: pointer;
}
.section{
    background-color: #f5f5f5;
    width: 100%;
}
.signout{
    width: 110px;
    padding: 2px;
    border: none;
    color: #FFFFFF;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: 1px solid #ffffffff;
    border-radius: 15px;
    margin-left: 25px;
    transition: all 0.5s ease-in;
}
.signout:hover{
    color: var(--first-color);
    background-color: #FFFFFF;
}
.signin{
    width: 110px;
    padding: 2px;
    border: none;
    color: #FFFFFF;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: 1px solid #ffffffff;
    border-radius: 15px;
    margin-left: 25px;
    transition: all 0.5s ease-in;
}
.signin:hover{
    color: var(--first-color);
    background-color: #FFFFFF;
}
.menu svg{
    display: none;
    margin: 0 15px;
}
@media(max-width:1083px) {
    .menu svg{
        display: inline-block;
    }
    .menu p {
        display: none;
    }
    .aside{
        display: none;
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 2;
        font-size: 10px;
    }
}